.div{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
    margin: auto;
    height: 50px;
    border: 6px solid black;
    margin-top: 150px;
    border-radius: 8px;
    background-color: azure;
   
   
}
.hour,.min,.sec{
    background-color: black;
    color: white;
    width: 40px;
    border-radius: 5px;
    justify-content: center;
    font-size: 35px;
}
span{
    background-color: aquamarine;
}

.date{
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 400px;
    margin:auto;

    
}

.year,.month,.day{
    background-color: rgb(149, 201, 246);
    width: 130px;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
  
}