.div{
   
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */

    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr 3fr;
    width: 250px;
    margin: auto;
    height: 50px;
    
    margin-top: 150px;
    border-radius: 8px;
    background-color: azure;   
}
.hour,.min,.sec{
    background-color: black;
    color: white;
   margin-top: auto;
   border-radius: 5px;
    justify-content: center;
    font-size: 55px;
    padding-left: 10px;
}

.comma{
    font-size: 40px;
    padding-left: 8px;

}
span{
    background-color: aquamarine;
}

.date{
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 400px;
    margin:auto;
    margin-top: 15px;  
}
.year,.month,.day{
    background-color: rgb(149, 201, 246);
    width: 130px;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
}